version: '3.9'

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: db
      DB_PASSWORD: 123
      DB_NAME: question_answer
    ports:
      - "8080:8080"

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: question_answer
      POSTGRES_USER: db
      POSTGRES_PASSWORD: 123
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5431:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8085:8080"

volumes:
  db-data: